DATABASE_URL=postgres://user:password@localhost:5432/performiq
# for certificate DB 
# DATABASE_URL=postgres://user:password@localhost:5432/performiq?sslmode=verify-full&sslrootcert=./certs/ca-certificate.crt
JWT_SECRET=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM=noreply@whitecrustfinance.com
PORT=8080
