DATABASE_URL=postgres://user:password@localhost:5432/performiq
DB_SSL_CA_PATH=./certs/ca-certificate.crt
JWT_SECRET=546ETHGHD45465787TFGHJJH
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain.com
MAILGUN_FROM=noreply@your-mailgun-domain.com
PORT=8080
